body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

*,
:active,
:focus,
:hover {
  outline: 0 !important;
  -webkit-tap-highlight-color: transparent !important;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar {
  position: absolute;
  background-color: #232323;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 60px;
}

.header {
  position: relative;
  height: 50px;
  background-image: linear-gradient(59deg, #ae58b1, #db35a1 52%, #e57d6c);
  width: 100%;
}

.toolbar {
  position: relative;
  height: 30px;
  background-color: #d0d8e5;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.toolbar-container {
  position: relative;
  left: 70px;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.container {
  width: calc(100% - 60px);
  height: calc(100% - 80px);
  position: absolute;
  background-color: #cccccc40;
  left: 60px;
}
.container-holder {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: inline-block;
}

.slide {
  width: 1200px;
  height: 620px;
  background-color: white;
  position: absolute;
}

.slide-holder {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Cursor class */

html.nw-cursor {
  cursor: nwse-resize !important;
}
html.nm-cursor {
  cursor: ns-resize !important;
}
html.ne-cursor {
  cursor: nesw-resize !important;
}
html.sw-cursor {
  cursor: nesw-resize !important;
}
html.sm-cursor {
  cursor: ns-resize !important;
}
html.se-cursor {
  cursor: nwse-resize !important;
}
html.em-cursor {
  cursor: ew-resize !important;
}
html.wm-cursor {
  cursor: ew-resize !important;
}

/*Debug axis*/
.axis {
  background: rgba(0, 0, 0, 0.02);
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 40px solid rgba(0, 0, 0, 0);
}

.ex,
.ey,
.exy,
.eyx {
  width: 100%;
  height: 1px;
  background: coral;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.ey {
  transform: translate(-50%, -50%) rotate(90deg);
}

.exy {
  transform: translate(-50%, -50%) rotate(45deg);
  background: aquamarine;
  opacity: 1;
}

.eyx {
  transform: translate(-50%, -50%) rotate(135deg);
  background: aquamarine;
  opacity: 1;
}

.ey::before {
  content: '0deg';
  position: absolute;
  top: -30px;
  left: 97%;
  transform: rotate(-90deg);
  color: gray;
  font-size: 10px;
}

.ey::after {
  content: '180deg';
  position: absolute;
  bottom: -30px;
  left: 0;
  transform: rotate(-90deg);
  color: gray;
  font-size: 10px;
}

.ex::before {
  content: '270deg';
  position: absolute;
  top: -30px;
  left: 97%;
  color: gray;
  font-size: 10px;
}

.ex::after {
  content: '90deg';
  position: absolute;
  bottom: -30px;
  left: 0;
  color: gray;
  font-size: 10px;
}

.exy::before {
  content: '315deg';
  position: absolute;
  top: -30px;
  left: 97%;
  transform: rotate(-45deg);
  color: gray;
  font-size: 10px;
}

.exy::after {
  content: '135deg';
  position: absolute;
  bottom: -30px;
  left: 0;
  transform: rotate(-45deg);
  color: gray;
  font-size: 10px;
}

.eyx::before {
  content: '45deg';
  position: absolute;
  top: -30px;
  left: 97%;
  transform: rotate(-135deg);
  color: gray;
  font-size: 10px;
}

.eyx::after {
  content: '225deg';
  position: absolute;
  bottom: -30px;
  left: 0;
  transform: rotate(-135deg);
  color: gray;
  font-size: 10px;
}

#fake-drag {
  background-color: black;
  opacity: 0.1;
}
